body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: #FEAFC3;
    color: #2D3440;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
    outline: none;
    cursor: pointer;
}

.container {
    margin: 0 98px;
}

.header-nav {
    padding-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-right: 32px;
}
.main-nav {
    display: flex;
    align-items: center;
    &__item {
        display: inline-block;
        padding: 8px 16px;
        border: 2px solid transparent;
        border-radius: 26px;
        &:hover {
            background-color: rgba(#FCFCFC, 0.5);
        }
        &:focus {
            background-color: rgba(#FCFCFC, 0.5);
            border: 2px solid #2D3440;
        }
        &:active {
            background-color: #FCFCFC;
        }
    }
}

.phone {
    display: inline-block;
    align-self: center;
    font-weight: 700;
    font-size: 16px;
    margin-right: 18px;
}
.custom-nav {
    display: flex;
    &__item {
        display: flex;
        align-items: center;
        background-color: rgba(#FCFCFC, 0.3);
        border: 2px solid transparent;
        border-radius: 16px;
        height: 32px;
        padding: 0 18px;
        &--search {
            width: 32px;
            padding-left: 6px;
        }
        &:not(:last-child) {
        margin-right: 16px;
        }
        &:hover {
            background-color: rgba(#FCFCFC, 0.5);
        }
        &:focus {
            background-color: rgba(#FCFCFC, 0.5);
            border: 2px solid #2D3440;
        }
        &:active {
            background-color: #FCFCFC;
        }
    }
    &__icon {
        margin-right: 8px;
    }
}
